@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nerko+One&family=Patrick+Hand&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #040f16;
  font-family: Poppins;
}

header {
  width: 100%;
  padding: 10px;
  font-size: 38px;
  color: #0094c6;
  font-weight: bolder;
  text-align: center;
  font-family: Kaushan Script;
}

header span {
  color: #001242;
}

#search-result {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
header div{
cursor:pointer;
}

#search-result li {
  width: 200px;
  height: 300px;
  margin: 20px;
  list-style-type: none;
  overflow: hidden;
  background-image: url("../img/no-image.png");
  border-radius: 15px;
  cursor: pointer;
}

#search-result li:hover div::before {
  content: '';
  position: absolute;
  animation: linear-gradient 1s linear infinite;
  width: 200px;
  height: 10px;
  left: 0;
  top: -3px;
}

#search-result li div {
  text-align: center;
  margin-top: 240px;
  background-color: #040f16b0;
  padding: 10px;
  padding-bottom: 80px;
  overflow: hidden;
  color: #fff;
  backdrop-filter: blur(10px);
  font-weight: bold;
}

#search-result li:hover {
  box-shadow: 0 0 18px #0094c6, 0 0 18px #005E7C;
}

.search-container .content {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container .content input {
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.search-container .content button {
  width: 120px;
  height: 35px;
  background: transparent;
  border: 2px solid #0094c6;
  text-align: center;
  color: #0094c6;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}

img {
  border-radius: 100%;
  width: 200px;
  margin: 100px auto;
  display: block;
}

.hidden {
  display: none;
}

.search-container .content button:hover {
  background: #0094c6;
  color: #fff;
  box-shadow: 0 0 8px #005E7C, 0 0 8px #001242;
}

input:focus {
  outline: #005E7C solid 2px;
}

input {
  text-align: center;
  background: transparent;
  outline: #005E7C solid 2px;
  font-weight: bold;
  color: #0094c6;
}

input::placeholder {
  color: #005E7C;
}

@media (min-width:486px) {
  .search-container .content {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .search-container .content input {
    width: 250px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

@media (min-width:1200px) {
  header {
    font-size: 45px;
  }
}

@keyframes linear-gradient {
  0% {
    background-image: linear-gradient(to right, #001242, #0094c6);
  }

  100% {
    background-image: linear-gradient(to right, #0094c6, #001242);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
}

main div {
  width: 200px;
  height: 300px;
  background-image: url('../img/no-image.png');
  border-radius: 5px;
}

main h1 {
  color: #0094c6;
  margin-top: 10px;
}

main h2 {
  color: #005E7C;
  font-size: 20px;
  font-weight: normal;
  font-family: Nerko One;
}

main p {
  color: #fff;
}

main ul {
  display: flex;
  flex-direction: column;
}

main span {
  color: #ccc;
}

main span:first {
  margin-top: 30px;
}
